header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}
*{
    margin: 0% auto;
    padding: 0% auto;
}

h2:hover{
    background-color: black;
    padding: 10px;
}
nav{
    background-color: rgb(45, 45, 45);
    padding: 10px;
    font-family: sans-serif;
}
span {
    display: none;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: sans-serif;
}
h1{
    font-family: 'roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
a:hover{
    background-color: black;
    padding: 10px;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    padding: 30px;
    color: white;
}
section{
    display: flex;
}
article{
    background-color: rgb(21, 21, 21);
    padding: 20px;
    width: 55%;
    font-family: sans-serif;
}
aside{
    width: 45%;
    background-color: rgb(21, 21, 21);
    font-family: sans-serif;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}