@media screen and (max-width: 600px) {
    body {
        display: block;
      }
    section{
      width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav{
      display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10px 0;
    }
    
    }
    @media screen and (min-width: 600px) {
        body {
          display: block;
        }

    }